{% extends 'layout.html' %}
{% block body %}
<h1 class="text-lg-center p-lg-5 p-lg-5", style="top: 100%;"></h1>
<h1 class="text-lg-center p-lg-5 p-lg-5", style="top: 100%;">Загрузите документ</h1>
<form id="uploadForm" method="post" action="/upload" enctype="multipart/form-data">
    <div class="bucket uploadBucket", style="left: 35%;">
        <input id="uploadInput" type="file" name="file" autocomplete="off" required style="border: 1rem;">
        <p id="uploadText" style="margin-top: 70px">Перетащите файлы сюда или кликните для выбора.</p>
        <button type="submit" class="btn bg-white text-dark btn-lg btn-block"
            style="border-bottom: #EE82EE 4px solid;">Загрузить</button>
    </div>
</form>
{% endblock %}